[submodule "vim/lsp"]
	path = vim/lsp
	url = https://github.com/ycm-core/lsp-examples.git
[submodule "themes/terminal-app"]
	path = themes/terminal-app
	url = https://github.com/dracula/terminal-app.git
